body {
    background: url(../images/index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-opacity: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: black;
    position:center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body { 
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color: white;
}

a {
    color:white;
}
